.max-wid1400{
  max-width: 1400px;
  margin: 0 auto;
}


$activeColor: #e60012;


$bderColor: #f3f3f3;

$textColor: #1e1e1e;
$lightTextColor: #5f5f5f;

$mainTheme: #e60012;
$mainColor: #b3000e;

$headerHeight: 126px;
$boxShadowColor: #b1b1b1;


$contentBgColor: #f5f5f6;

@mixin adptiveBg() {
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center center;
}