body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
ol {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font: 12px "PingFang HK", "Microsoft YaHei", "Arial";
  color: #000;
  line-height: 1.5;
  overflow-x: hidden;
}
ol,
ul,
li {
  list-style-type: none;
  vertical-align: middle;
}
img {
  vertical-align: top;
  border: 0;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
textarea,
input {
  text-indent: 10px;
}
/*表单元素默认有10像素的缩进*/
input[type='submit'],
input[type='button'],
button {
  text-indent: 0;
  text-align: center;
  cursor: pointer;
}
label,
button,
a {
  cursor: pointer;
}
ins,
em,
b,
i {
  text-decoration: none;
  font-style: normal;
}
/* 去掉浏览器激活样式 */
select:focus,
textarea:focus,
input:focus,
button {
  outline: none;
}
/* 提示文字的初始样式 */
input::-webkit-input-placeholder,
input::-moz-input-placeholder,
textarea::-webkit-textarea-placeholder,
textarea::-moz-textarea-placeholder {
  color: #999;
  transition: color .5s;
}
/* 提示文字的激活样式 */
input:focus::-webkit-input-placeholder,
input:focus::-moz-input-placeholder,
input:hover::-webkit-input-placeholder,
input:hover::-moz-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-input-placeholder,
textarea:hover::-webkit-input-placeholder,
textarea:hover::-moz-input-placeholder {
  color: #c2c2c2;
}
/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font: inherit;
}
/* a_link */
a {
  color: inherit;
  text-decoration: none;
}
a[href] {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:focus {
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6,
em {
  font-weight: normal;
}
a,
span,
li,
b,
i,
label,
p,
strong,
div,
h1,
h2,
h3,
h4,
h5,
h6,
font,
small,
em,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  font-size: 14px;
}
p {
  line-height: 2;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/*用来解决在安卓上的点击出现篮框问题*/
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*解决ios上去除微信点击蓝色边框 */
a:focus,
input:focus,
p:focus,
div:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
font {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  text-transform: inherit;
}
body,
html {
  height: 100%;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 4px;
  border-radius: 1.5px;
}
body::-webkit-scrollbar-button,
html::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background-color: #eee;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: $activeColor;
}
/*滚动动画的样式*/
.disable-hover {
  pointer-events: none;
}
.scroll-animate.animated {
  visibility: hidden;
}
.font-fadeIn font {
  display: inline-block;
}
.scrolly {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
/* 浮动与清浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl::after {
  content: '\20';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.text_overflow {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[data-ahref] {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
}



.icon.iconfont{
  color: inherit;
  display: inline-block;
}