@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0%, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes upAndDownLoop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}


#csr-page{
  .main-content{
    padding-top: $headerHeight;
  }
  .csr-content{
    margin: 0 10%;
    ul{
      li{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 70px;
        &:nth-child(2n+1){
          flex-direction: row-reverse;
        }
        .img-wrap{
          width: 40%;
          height: auto;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          img{
            display: block;
            width: 100%;
          }
        }

        .csr-item{
          width: 40%;
          h4{
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 20px;
          }
          p{
            font-size: 16px;
            color: $textColor;
          }
        }
      }

      
    }
  }
}


@media screen and (max-width: 800px){
  #csr-page{
    .main-content{
      padding-top: 60px;/*no*/
    }
    .csr-content{
      margin: 0 10%;
      margin-bottom: 40px;/*no*/
      ul{
        width: 100%;
        li{
          width: 100%;
          flex-wrap: wrap-reverse;
          &:nth-child(2n+1){
          }
          .img-wrap{
            width: 100%;
            img{
            }
          }
  
          .csr-item{
            width: 100%;
            margin-bottom: 30px;/*no*/
            h4{
              font-size: 24px;/*no*/
              line-height: 36px;/*no*/
              margin-bottom: 12px;/*no*/
            }
            p{
              font-size: 14px;/*no*/
            }
          }
        }
        li+li{
          margin-top: 12px;/*no*/
        }
  
        
      }
    }
  }
}


@media screen and (max-width: 500px){
  @media screen and (max-width: 800px){
    #csr-page{
      .main-content{
      }
      .csr-content{
        ul{
          li{
            &:nth-child(2n+1){
            }
            .img-wrap{
              img{
              }
            }
    
            .csr-item{
              h4{
              }
              p{
              }
            }
          }
          li+li{
          }
    
          
        }
      }
    }
  }
}