@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0%, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes upAndDownLoop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}


#goods-page{
  transition: all 0.5s ease-in-out;
  margin-top: $headerHeight;

}