header {
  position: fixed;
  height: 90px;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  .nav {
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0 4%;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    img {
      height: 50%;
    }
  }
  .pc-nav {
    height: 100%;
    position: relative;
    z-index: 5;
    ul {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        text-align: center;
        height: 100%;
        display: flex;
        align-content: center;
        margin: 0 24px;
        position: relative;
        > a {
          text-align: center;
          line-height: 90px;
          font-size: 18px;
          color: #fff;
          transition: all 0.3s ease-in-out;
          position: relative;
          font-weight: bolder;
          display: inline-block;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $activeColor;
            bottom: 0;
            left: 0;
            opacity: 0;
            font-weight: bold;
          }
        }
        .out-nav {
          position: absolute;
          left: 0;
          visibility: hidden;
          pointer-events: none;
          top: 99%;
          opacity: 0;
          transform: translateY(-5px);
          transition: all 0.3s ease-in-out;
          span {
            height: 20px;
            line-height: 20px;
            position: relative;
            width: 100%;
            display: block;
            &:after {
              content: "";
              width: 0;
              height: 0;
              position: absolute;
              border-style: solid;
              border-width: 8px;
              border-color: transparent transparent #fff transparent;
              left: 20px;
              bottom: 0;
            }
          }
          .items {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            background-color: #f0f0f0;
            .right {
              padding: 16px 24px;
              background-color: #fff;
              min-width: 130px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              a {
                font-size: 14px;
                display: block;
                margin: 5px auto;
                padding: 0 10px;
                white-space: nowrap;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
        &:hover {
          visibility: visible;
          > a {
            color: $activeColor !important;
            &:after {
              opacity: 1;
            }
          }
        }
        &.on {
          > a {
            color: $activeColor !important;
            &:after {
              opacity: 1;
            }
          }
        }
        &.go-down {
          &:hover {
            .out-nav {
              pointer-events: auto;
              opacity: 1;
              transform: none;
              visibility: visible;
            }
          }
        }
      }
    }
  }
  .go-search {
    position: relative;
    z-index: 5;
    a {
      color: #fff;
      border-color: #fff;
      border-width: 1px;
      border-style: solid;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      &:hover {
        color: $activeColor !important;
        border-color: $activeColor !important;
      }
    }
  }
  .search-wrap {
    position: absolute;
    bottom: -100%;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
    left: 0;
    height: 100px;
    z-index: 3;
    .layout-search {
      display: inline-block;
      position: relative;
      border-bottom: 1px solid $activeColor;
      height: 40px;
      line-height: 40px;
      width: 380px;
      vertical-align: middle;
      overflow: hidden;
      input {
        height: 40px;
        line-height: 40px;
        position: relative;
        z-index: 5;
        vertical-align: top;
        border: none;
        color: #333;
        display: inline-block;
        background-color: transparent;
        width: calc(100% - 50px);
        transition: all 0.3s ease-out;
        transition-delay: 0.2s;
      }
      a.icon {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        color: $activeColor;
      }
    }
    a.icon-close {
      position: absolute;
      z-index: 5;
      right: 4%;
      color: #a4a4a4;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        color: $activeColor;
      }
    }
  }
  #menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 20px;
    /*no*/
    position: absolute;
    top: 24px;
    /*no*/
    bottom: 0;
    right: 24px;
    /*no*/
    z-index: 13;
    display: none;
    span {
      background-color: #fff;
      height: 2px;
      /*no*/
      border-radius: 50px;
      /*no*/
      transition: all 0.3s ease-in-out;
      transition: all 1s ease-in-out;
      &:nth-of-type(1) {
        width: 25px;
        /*no*/
      }
      &:nth-of-type(2) {
        width: 25px;
        /*no*/
      }
      &:nth-of-type(3) {
        width: 25px;
        /*no*/
      }
    }
    &.on {
      span {
        transition: all 0.6s ease-in-out;
        &:nth-of-type(1) {
          width: 27px;
          transform-origin: 100% 50%;
        }
        &:nth-of-type(2) {
          opacity: 0;
          transform: translateX(-10px);
        }
        &:nth-of-type(3) {
          width: 27px;
          transform-origin: 100% 50%;
          transform: rotate(45deg);
        }
      }
    }
  }


  .nav-app {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    width: 0;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.15);
    }
    .child {
      position: absolute;
      height: 100%;
      width: 60%;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transform: translateX(100%);
      background-color: rgba(0, 0, 0, 0.92);
      top: 0;
      right: 0;
      z-index: 5;
      ul {
        padding-top: 36px;
        li {
          position: relative;
          i {
            color: #fff;
            height: 44px; /*no*/
            line-height: 44px; /*no*/
            position: absolute;
            right: 24px; /*no*/
            top: 0;
            font-size: 12px; /*no*/
            width: 44px; /*no*/
            text-align: center;
            transition: all 0.3s ease-in-out;
          }
          a {
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
            text-shadow: none;
            display: inline-block;
            width: 100%;
            color: #fff;
            height: 44px; /*no*/
            line-height: 44px; /*no*/
            font-weight: bold;
            font-size: 14px; /*no*/
            padding: 0 24px; /*no*/
          }

          ol {
            overflow: hidden;
            background-color: $activeColor;
            transition: all .3s ease-in;
            li {
              a {
                width: 100%;
                display: inline-block;
                color: #fff;
                height: 38px; /*no*/
                line-height: 38px; /*no*/
                padding: 0 24px; /*no*/
                text-indent: 10px; /*no*/
                opacity: 0.9;
              }
            }
          }

          &.active {
            i {
              transform: rotate(90deg);
            }
          }
        }
        
      }
    }
    &.on {
      width: 100%;
      opacity: 1;
      pointer-events: auto;
      .child {
        transform: translateX(0);
      }
    }
  }
  &.on {
    background-color: #fff;
    .pc-nav {
      ul {
        li {
          a {
            color: #000;
            border-color: rgba(0, 0, 0, 0.4);
            text-shadow: none !important;
          }
        }
      }
    }
    .go-search {
      a {
        color: #000;
        border-color: #000;
      }
    }
    .search-wrap {
      &:after {
        background-color: #fff;
      }
    }
    #menu {
      span {
        background-color: #000;
      }
    }
  }
  &.active {
    background-color: #fff;
  }
}

header .pc-nav > ul > li .out-nav .items .left .list .msg h3,
header .pc-nav > ul > li .out-nav .items .left .list .msg p {
  opacity: 0;
}

header .pc-nav > ul > li .out-nav .items .right > a.on,
header .pc-nav > ul > li .out-nav .items .right > a:hover {
  color: $activeColor;
}

@media screen and (max-width: 800px) {
  header {
    .go-search {
      display: none;
    }
    .nav {
      nav{
        display: none;
      }
      #menu {
        display: flex;
        span {
          &:hover {
            background-color: $activeColor;
          }
        }
      }
    }
  }
}
