@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0%, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes upAndDownLoop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}


#hsitroy-page{
  .main-content{
    padding-top: $headerHeight;

    .year-nav{
      margin: 20px 15%;
      $lh: 32px;/*no*/
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .divide-line{
        position: absolute;
        height: 1px;/*no*/
        background-color: #eee;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        width: calc(100% - 60px);
        z-index: 0;
      }
      
      $h: 32px;/*no*/
      .iconfont{
        display: inline-block;
        font-size: $h;/*no*/
        line-height: $h;/*no*/
        height: $h;/*no*/
        color: $textColor;
        transform-origin: center center;
        cursor: pointer;
      }

      .iconfont.left{
        transform: rotate(-180deg);
      }
      .iconfont.right{
      }

      .inner-wrap{
        flex: 1;
        overflow: hidden;
        ul.scroll-ul{
          white-space: nowrap;
          display: inline-block;
          padding: 30px 0;
          transition: transform .3s ease-in-out!important;
          li.year-item{
            display: inline-block;
            font-family: en-m;
            color: $lightTextColor;
            position: relative;
            cursor: pointer;
            width: 80px;/*no*/
            text-align: center;
            line-height: $h;/*no*/
            height: $h;/*no*/
            transition: .3s all ease-in-out;
            background-color: #fff;
            padding: 0 10px;
            margin: 0 60px;
            span{
              display: inline-block;
              font-size: 24px;/*no*/
              font-weight: bold;
            }
            &.active{
              color: $mainTheme;
              span{
                font-size: 28px;/*no*/
              }
              span.arrow{
                transform: translateY(0);
                opacity: 1;
                pointer-events: auto;
              }
            }
            &:hover{
              span.arrow{
                transform: translateY(0);
                opacity: 1;
                pointer-events: auto;
                transition: .3s all ease-in-out;
              }
            }
            span.arrow{
              float: left;
              border-width: 8px;/*no*/
              border-color: transparent transparent #e60012 transparent;
              border-style: solid;
              position: absolute;
              bottom: -30px;
              left: calc(50% - 8px);
              transform: translateY(8px);
              opacity: 0;
              pointer-events: none;
            }
    
          }
        }
      }

      
      
    }


    .hisroty-list{
      width: 1200px;
      min-height: 60vh;
      margin: 0 auto;
      padding: 20px;
      position: relative;
      .list-bg{
        font-size: 450px;
        position: absolute;
        z-index: -1;
        top: 0;
        letter-spacing: 20px;
        pointer-events: none;
        width: 100%;
        text-align: center;
        height: 450px;
        line-height: 400px;
        color: #f7f7f7;
        animation: fadeIn 0.5s ease-in-out;
      }

      .list-content{
        display: flex;
        justify-content: space-around;
        background: transparent;
        opacity: 1;
        transition: .3s all ease-in;
        &.loading{
          transform: translateY(15px);
          opacity: 0;
        }
        .list-part{
          margin: 40px;
          flex: 1;
          li{
            margin-bottom: 20px;
            padding: 20px;
            h4{
              color: $mainTheme;
              font-size: 22px;
              margin-bottom: 15px;
            }
            p{
              font-size: 16px;
              color: $textColor;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}




@media screen and(max-width: 800px) {

  #hsitroy-page{
    .main-content{
      padding-top: $headerHeight;
      .year-nav{
        margin: 20px 5%;/*no*/
        .divide-line{
        }
        
        $h: 32px;/*no*/
        .iconfont{
        }
  
        .iconfont.left{
        }
        .iconfont.right{
        }
  
        .inner-wrap{
          ul{
            li.year-item{
              margin: 0 30px;/*no*/
              span{
              }
              &.active{
                span{
                }
                span.arrow{
                }
              }
              &:hover{
                span.arrow{
                }
              }
              span.arrow{
              }
      
            }
          }
        }
  
        
        
      }
  
  
      .hisroty-list{
        width: 80%;
        .list-bg{
          height: 60vh;
          line-height: 60vh;
        }
  
        .list-content{
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: column;
          align-content: center;
          .list-part{
            width: 80%;
            li{
              
              h4{
                font-size: 20px;/*no*/
                margin-bottom: 15px;/*no*/
              }
              p{
                font-size: 14px;/*no*/
              }
            }
          }
        }
      }
    }
  }
  
  
}


@media screen and(max-width: 800px) {

  #hsitroy-page{
    .main-content{
      padding-top: $headerHeight;
      .year-nav{
        margin: 20px 5%;/*no*/
        .divide-line{
        }
        
        $h: 28px;
        .iconfont{
          font-size: $h;/*no*/
        }
  
        .iconfont.left{
        }
        .iconfont.right{
        }
  
        .inner-wrap{
          
          ul{
            li.year-item{
              margin: 0 8px;/*no*/
              font-size: $h;/*no*/
              line-height: $h;/*no*/
              height: $h;/*no*/
              span{
                font-size: 28px;/*no*/
              }
              &.active{
                span{
                }
                span.arrow{
                }
              }
              &:hover{
                span.arrow{
                }
              }
              span.arrow{
              }
      
            }
          }
        }
  
        
        
      }
  
  
      .hisroty-list{
        width: 80%;
        .list-bg{
          height: 60vh;
          line-height: 60vh;
        }
  
        .list-content{
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: column;
          align-content: center;
          .list-part{
            width: 80%;
            li{
              
              h4{
                font-size: 20px;/*no*/
                margin-bottom: 15px;/*no*/
              }
              p{
                font-size: 14px;/*no*/
              }
            }
          }
        }
      }
    }
  }
  
  
}