
.tabs.page-nav {
  display: flex;
  justify-content: space-around;
  height: 300px;/*no*/
  align-items: center;
  ul {
    display: flex;
    li {
      a {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        width: 200px;/*no*/
        padding: 5px;/*no*/
        box-sizing: content-box;
        line-height: 60px;/*no*/
        text-align: center;
        color: $textColor;
        span.icon {
          color: $textColor;
          font-size: 30px;/*no*/
          display: inline-block;
        }
        .right-part {
          font-size: 20px;/*no*/
          font-weight: bold;
        }
      }
      &.active {
        a{
          background-color: $mainTheme;
          color: #fff;
          span.icon {
            color: #fff;
          }
        }
        
      }
    }

  }
}


@media screen and(max-width: 800px) {
.tabs.page-nav {
  margin: 0 10%;
  height: 240px;/*no*/
  ul {
    width: 100%;
    justify-content: space-around;
    li {
      width: 32%;
      a {
        width: 100%;
        span.icon {
          font-size: 20px;/*no*/
        }
        .right-part {
          p{
            font-size: 14px;/*no*/
          }
          
        }
      }
      &.active {
        a{
          span.icon {
          }
        }
        
      }
    }

  }
}
  
}

@media screen and(max-width: 500px) {
  .tabs.page-nav {
    ul {
      li {
        a {
          span.icon {
            font-size: 16px;/*no*/
          }
          .right-part {
            p{
              font-size: 12px;/*no*/
            }
            
          }
        }
        &.active {
          a{
            span.icon {
            }
          }
          
        }
      }
  
    }
  }
  
}