
.tabs.page-nav {
  display: flex;
  justify-content: space-around;
  height: 300px;/*no*/
  align-items: center;
  ul {
    display: flex;
    li {
      a {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 200px;/*no*/
        padding: 5px;/*no*/
        box-sizing: content-box;
        line-height: 60px;/*no*/
        text-align: center;
        color: $textColor;
        span.icon {
          color: $textColor;
          font-size: 30px;/*no*/
          display: inline-block;
        }
        .right-part {
          font-size: 20px;/*no*/
          font-weight: bold;
        }
      }
      &.active {
        a{
          background-color: $mainTheme;
          color: #fff;
          span.icon {
            color: #fff;
          }
        }
        
      }
    }

  }
}


@media screen and(max-width: 800px) {
  .tabs.page-nav {
    height: 240px;/*no*/
    ul{
      li{
        a{
          width: 120px;/*no*/
          line-height: 30px;/*no*/
          span.icon {
            font-size: 14px;
          }
          .right-part {
            font-size: 14px;/*no*/
          }
        }
      }
    }
  }
  
}

@media screen and(max-width: 500px) {
  .tabs.page-nav {
    ul{
      li{
        a{
          width: 100px;/*no*/
          line-height: 26px;/*no*/
          span.icon {
            font-size: 12px;
          }
          .right-part {
            font-size: 12px;/*no*/
          }
        }
      }
    }
  }
  
}