#foot{
  height: 450px;
  padding: 0 4%;
  position: relative;
  z-index: 5;
  background-color: rgb(28, 28, 28);
  

  .left{
    width: 320px;
  }
  .mid {
    width: calc(100% - 600px);
  }
  .right {
    width: 300px;
  }

  h4{
    min-width: 40px;
    text-align: left;
    padding: 0;
    margin-right: 0.2rem;
    transition: all 0.3s ease-in-out;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 3px;
    color: #fff;
    &:hover {
      color: $mainTheme;
    }
  }
  h6{
    padding: 0;
    font-size: 18px;
    margin-top: 30px;
    color: #fff;
  }
  a.able-link{
    display: inline-block;
    color: rgb(99, 158, 205);
    margin: 4px 0;
  }
  p.p-des {
    color: $lightTextColor;
    line-height: 1.6;
    font-size: 14px;
    margin: 4px 0;
  }

  .fmain {
    padding: 34px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .left {
      
    }
    .mid {
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      padding: 0 5%;
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          width: 33.33%;
          h3 {
            margin-bottom: 3px;
            color: #333333;
          }
        }
      }
    }
    .right {
      padding-left: 30px;
      text-align: right;
      position: relative;
      .inter-place{
        display: flex;
        .inter{
          height: 80px;
          width: 80px;
          display: flex;
          align-items: center;
          position: relative;
          a.iconfont{
            position: relative;
            text-align: center;
            line-height: 64px;
            display: inline-block;
            background-color: rgb(99, 104, 107);
            width: 64px;
            height: 64px;
            color: #fff;
            font-size: 40px;
            border-radius: 50%;
            transition: all .3s ease-in;
            &:hover{
              font-size: 48px;
              color: $mainTheme;
            }
          }
          
          .items{
            text-align: center;
            padding: 15px 26px;/*no*/
            position: absolute;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 1px 1px 3px $lightTextColor;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 99;
            display: none;
            .shadow{
              display: inline-block;
              width: 60px;/*no*/
              height: 60px;/*no*/
            }
          }
          &:hover{
            .items{
              display: block;
            }
          }
        }
      }
    }
  }

  .f-bottom{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .left{
      display: flex;
      align-items: center;
      img{
        width: 250px;
        height: 74px;
        display: block;
      }
    }
    .mid{
      display: flex;
      align-items: center;
      p{
        font-size: 16px;
      }
    }
    .right{
      display: flex;
      align-items: center;
      .shop-platforms{
        position: absolute;
        right: 0;
        width: 300px;
        height: 70px;
        background-color: $mainTheme;
        color: #fff;
        font-weight: bold;
        padding-left: 34px;
        border-radius: 35px 0 0 35px;
        cursor: pointer;
        span{
          font-size: 28px;
          line-height: 70px;
          display: block;
          i.icon{
            display: inline-block;
            transition: .3s all ease-in;
            font-size: 28px;
          }
        }
        .items{
          position: absolute;
          bottom: 100%;
          transform: translateY(10px);
          background-color: #fff;
          box-shadow: 2px 2px 6px $lightTextColor;
          border-radius: 4px;
          opacity: 0;
          pointer-events: none;
          visibility: hidden;
          transition: .3s all ease-in;
          ul{
            padding: 12px;
            li{
              margin: 10px 12px;
              a{
                font-size: 14px;
                color: $textColor;
                padding-left: 3px 5px;
              }
            }
          }
        }

        &:hover{
          span{
            i.icon{
              transform: rotate(-90deg);
              transform-origin: center center;
            }
          }
          .items{
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            transform: translateY(0);
            
          }
        }
      }
    }
  }

  .app-inter{
    display: none;
  }
}
@media screen and (max-width: 1024px) {
    #foot{
      height: 400px!important;/*no*/
      padding: 20px;/*no*/
      h4{
        min-width: 40px;/*no*/
        text-align: left;
        padding: 0;
        transition: all 0.3s ease-in-out;
        font-size: 16px;/*no*/
        font-weight: bolder;
        margin-bottom: 3px;/*no*/
        color: #fff;
        &:hover {
          color: $mainTheme;
        }
      }
      h6{
        padding: 0;
        font-size: 12px;/*no*/
        margin-top: 10px;/*no*/
        color: #fff;
        margin-right: 5px;/*no*/
      }
      a.able-link{
        display: inline-block;
        font-size: 12px;/*no*/
        color: rgb(99, 158, 205);
        margin: 4px 0;/*no*/
      }
      p.p-des {
        color: $lightTextColor;
        line-height: 1.6;
        font-size: 12px;/*no*/
        margin: 4px 0;/*no*/
      }
      .fmain{
        flex-direction: column;
        justify-content: space-around;
        .left, .mid, .right{
          width: 100%;
        }
        .mid{
          padding: 20px 0;/*no*/
          border: 0;
          border-top: 1px solid $lightTextColor;
          ul{
            display: block;
            li{
              width: 100%;
              line-height: 18px;/*no*/
              h6, p.p-des{
                display: inline-block;
              }
              p{
                margin-left: 6px;/*no*/
              }
            }
          }
        }
        .right{
          display: none;
        }
      }

      .f-bottom{
        display: none;
      }

      .app-inter{
        display: block;
        position: absolute;
        right: 0;
        top: 20px;/*no*/
        width: 200px;/*no*/
        display: flex;
        .inter-place{
          display: flex;
          .inter{
            height: 40px;/*no*/
            width: 40px;/*no*/
            display: flex;
            align-items: center;
            position: relative;
            a.iconfont{
              position: relative;
              text-align: center;
              line-height: 30px;/*no*/
              display: inline-block;
              background-color: rgb(99, 104, 107);
              width: 30px;/*no*/
              height: 30px;/*no*/
              color: #fff;
              font-size: 20px;/*no*/
              border-radius: 50%;
              transition: all .3s ease-in;
              &:hover{
                font-size: 28px;/*no*/
                color: $mainTheme;
              }
            }
            .items{
              text-align: center;
              padding: 15px 26px;/*no*/
              position: absolute;
              background-color: #fff;
              border-radius: 8px;
              box-shadow: 1px 1px 3px $lightTextColor;
              bottom: 100%;
              left: 50%;
              transform: translateX(-50%);
              z-index: 99;
              display: none;
              .shadow{
                display: inline-block;
                width: 60px;/*no*/
                height: 60px;/*no*/
              }
            }
            &:hover{
              .items{
                display: block;
              }
            }
          }
        }

        .shop-platforms{
          position: absolute;
          right: 0;
          width: 100px;/*no*/
          height: 40px;/*no*/
          background-color: $mainTheme;
          color: #fff;
          font-weight: bold;
          padding-left: 12px;/*no*/
          border-radius: 20px 0 0 20px;/*no*/
          cursor: pointer;
          span{
            font-size: 16px;/*no*/
            line-height: 40px;/*no*/
            display: block;
            i.icon{
              display: inline-block;
              transition: .3s all ease-in;
              font-size: 16px;/*no*/
            }
          }
          .items{
            position: absolute;
            width: auto;
            transform: translateX(0);
            right: 0;
            bottom: 100%;
            background-color: #fff;
            box-shadow: 2px 2px 6px $lightTextColor;/*no*/
            border-radius: 4px;/*no*/
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            transition: .3s all ease-in;
            ul{
              padding: 12px;/*no*/
              li{
                margin: 10px 12px;/*no*/
                white-space: nowrap;
                a{
                  font-size: 14px;/*no*/
                  color: $textColor;
                  padding-left: 3px 5px;/*no*/
                }
              }
            }
          }
  
          &:hover{
            span{
              i.icon{
                transform: rotate(-90deg);
                transform-origin: center center;
              }
            }
            .items{
              opacity: 1;
              pointer-events: auto;
              visibility: visible;
              transform: translateY(0);
              
            }
          }
        }
      }
    }
}