@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0%, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes upAndDownLoop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}


#overview-page{
  .main-content{
    padding-top: $headerHeight;
  }

  .page-nav{
    margin-bottom: 0;
  }
  .overview-content{
    margin: 0 10%;
    opacity: 1;
    transition: .3s all ease-in;
    &.loading{
      transform: translateY(15px);
      opacity: 0;
    }
    ul{
      li{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 70px;
        &:nth-child(2n+1){
          flex-direction: row-reverse;
        }
        .img-wrap{
          width: 40%;
          height: auto;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          img{
            display: block;
            width: 100%;
          }
        }

        .overview-item{
          width: 40%;
          h4{
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 10px;
          }
          p{
            font-size: 14px;
            color: $textColor;
          }
        }
      }

    }
  }
}


@media screen and (max-width: 800px){

  #overview-page{
    .main-content{
      padding-top: 60px;/*no*/
    }
    .overview-content{
      margin: 0 10%;
      margin-bottom: 40px;/*no*/
      ul{
        width: 100%;
        li{
          width: 100%;
          flex-wrap: wrap-reverse;
          &:nth-child(2n+1){
            
          }
          .img-wrap{
            width: 100%;
            img{
            }
          }
  
          .overview-item{
            width: 100%;
            margin-bottom: 30px;/*no*/
            h4{
              font-size: 24px;/*no*/
              line-height: 36px;/*no*/
              margin-bottom: 12px;/*no*/
            }
            p{
              font-size: 14px;/*no*/
            }
          }
        }
        li+li{
          margin-top: 12px;/*no*/
        }
      }
    }
  }
}
@media screen and (max-width: 500px){

  #overview-page{
    .main-content{
    }
    .overview-content{
      ul{
        li{
          &:nth-child(2n+1){
            
          }
          .img-wrap{
            img{
            }
          }
  
          .overview-item{
            h4{
            }
            p{
            }
          }
        }
  
      }
    }
  }
}