@keyframes Tmouse {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-8px);
  }
}

/*页面结构*/

#news-page {
  transition: all 0.5s ease-in-out;
  background-color: $contentBgColor;
  margin-top: $headerHeight;
  #top-banner{
    .section-content {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 100vh;
      .banner-wrap{
        overflow: hidden;
        z-index: 2;
        width: 80%;
        height: 500px;
        max-width: 1400px;/*no*/
        margin: 0 auto;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        .y-swiper{
          .y-swiper-slide{
            .banner-item{
              display: flex;
              width: 100%;
              height: 100%;
              transform: unset;
              overflow: unset;
              .col1{
                flex: 1;
                height: 100%;
                overflow: hidden;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;
                transform: translateX(-100%);
                position: relative;
                img{
                  width: 100%;
                }
              }

              .col2{
                flex: 1;
                padding: 0 60px;
                background: #fff;
                transform: translateX(100%);
                position: relative;
                display: flex;
                flex-direction: column;
                // align-items: flex-start;
                justify-content: center;
              }
            }
            .banner-item:hover{
              .col2{
                
                .info-title, .view-all{
                  color: $activeColor;
                }
              }
            }
            &.active{
              .banner-item{
                .col1, .col2{
                  
                  transition: .3s all ease-in;
                  transform: translateX(0);
                }
              }
              
            }
          }
          .swiper-nav{
            bottom: -100px;
            z-index: 100;
            li{
              background: #666;
              &.active{
                background: rgb(71, 70, 70);
              }
            }
          }
        }
      }

      ul.bottom-bg{
        position: absolute;
        top: 0;
        left: 0;
        height: calc(50% - 50px);
        width: 100%;
        li{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          filter: blur(20px);/*no*/
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;
          transition: .3s all ease-in;
          opacity: 0;
          &.active{
            opacity: 0.2;
          }
        }
        .mask-cover{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          opacity: 0.1;
          width: 100%;
          height: 100%;
          background: url('../../assets/imgs/mask1.png') center;
        }
      }

    }
    
  }

  .new-page-list{
    margin: 0 12% 50px;
    margin-top: -10vh;
    ul{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-content: flex-start;
      width: 100%;
      .el-empty{
        width: 100%;
      }
      li{
        border: 8px;
        width: 28%;
        margin: 30px 2.66%;
        transition: .3s all ease-in;
        background-color: #fff;
        &:hover{
          transform: translateY(-10px);
          box-shadow: 1px 1px 6px $lightTextColor;
        }
      }

    }
  }

  .pagination-bar{
    text-align: center;
    margin-bottom: 50px;
    .el-pagination{
      display: inline-block;
      .el-pager{
        li.active{
          background-color: $mainTheme;
        }
      }
    }
  }

  // 轮播导航
  ul.swiper-nav {
    position: absolute;
    bottom: 50px;/*no*/
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    li {
      cursor: pointer;
      height: 5px;
      /*no*/
      width: 10px;
      /*no*/
      background: #fff;
      opacity: 0.6;
      display: inline-block;
      transition: 0.3s ease-in-out;
      border-radius: 2px;
      /*no*/
      &.active {
        width: 30px;
        /*no*/
        opacity: 1;
      }
    }
    li + li {
      margin-left: 8px;
      /*no*/
    }
  }
  
}

@media screen and(max-width: 800px) {
  #news-page{
    padding-top: 70px;/*no*/
    #top-banner{
      .section-content {
        height: 80vh;
        .banner-wrap{
          height: 85%;
          .y-swiper{
            .y-swiper-slide{
              .banner-item{
                flex-direction: column;
                .col1{
                  height: 55%;
                  flex: unset;
                }
                .col2{
                  flex: unset;
                  height: 45%;
                  padding: 14px;/*no*/
                  .time-info{
                    .info-header{
                      margin-bottom: 10px;/*no*/
                      h3, .more{
                        font-size: 14px;/*no*/
                      }
                    }
                    .info-title{
                      font-size: 17px;/*no*/
                    }
                    .des{
                      // display: none;
                      max-height: 48px;/*no*/
                      overflow: hidden;
                      text-overflow: ellipsis;
                      font-size: 12px;/*no*/
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      line-clamp: 2;
                      -webkit-box-orient: vertical;
                    }
                    .view-all{
                      margin-bottom: 10px;/*no*/
                      font-size: 14px;/*no*/
                    }
                    .info-time{
                      font-size: 14px;/*no*/
                    }
                  }
                }
              }
            }
            .swiper-nav{
              bottom: -200px;
            }
          }
        }
      }
    }
    
    .new-page-list{
      margin: 0 7.5%;
      ul{
        li{
          width: 45%;
          margin: 20px 2.5%;/*no*/
          &:hover{
          }
        }
      }
    }

    .pagination-bar{
      font-size: 12px;/*no*/
      line-height: 20px;/*no*/
      .el-pagination{
        height: 20px;/*no*/
        display: inline-block;
        .el-icon{
          font-size: 12px;/*no*/
          line-height: 20px;/*no*/
        }
        .el-pager{
          li{
            width: 20px;/*no*/
            height: 20px;/*no*/
            line-height: 20px;/*no*/
            font-size: 12px;/*no*/
          }
          li.active{
            background-color: $mainTheme;
          }
        }
      }
    }
  }
}



@media screen and(max-width: 500px) {
  #news-page{
    padding-top: 70px;/*no*/
    #top-banner{
      .section-content {
        height: 90vh;
        .banner-wrap{
          height: 85%;
          width: 90%;
          max-width: unset;
          .y-swiper{
            .y-swiper-slide{
              .banner-item{
                flex-direction: column;
                .col2{
                  padding: 14px;/*no*/
                  .time-info{
                    .info-header{
                      margin-bottom: 10px;/*no*/
                      h3, .more{
                        font-size: 14px;/*no*/
                      }
                    }
                    .info-title{
                      font-size: 17px;/*no*/
                    }
                    .des{
                      // display: none;
                      max-height: 48px;/*no*/
                      overflow: hidden;
                      text-overflow: ellipsis;
                      font-size: 12px;/*no*/
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      line-clamp: 2;
                      -webkit-box-orient: vertical;
                    }
                    .view-all{
                      margin-bottom: 10px;/*no*/
                      font-size: 14px;/*no*/
                    }
                  }
                }
              }
            }
            .swiper-nav{
              bottom: -200px;
            }
          }
        }
      }
    }
    
    .new-page-list{
      ul{
        li{
          width: 100%;
          margin: 15px auto;/*no*/
        }
      }
    }
  }
}